body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F1E6;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pageLayout {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

#signUpAs {
  font-size: 70px;
}

.backgroundBox {
  background-color: #FFF7D6;
  width: calc(100% - 60px);
  height: calc(100vh - 124px);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profileTypeHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountTypeIconButton {
  width: 400px;
  height: 400px;
  position: absolute;
}

.accountForm {
  margin-left: 10% !important;
}

.searchForJobFilters {
  margin-left: 10%;
}

.MuiToggleButtonGroup-grouped:not(:first-of-type) {
  margin-left: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.MuiToggleButtonGroup-grouped {
  border-radius: 10px !important;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.profJob {
  margin-bottom: 20px !important;
}

.MuiBadge-badge {
  width: 30px !important;
  height: 30px !important;
  border-radius: 30px !important;
  font-size: 15px !important;
}

.studentList {
  padding: 0 10px;
}

.studentList > p {
  margin: 5px 0;
}

.formSpacing {
  margin: 40px;
}